body {
    background-color: rgb(228, 228, 228);
    overflow-y: hidden;
    position: fixed;
  
  }
  .nikhil{
    margin-left: 28%;
    margin-top: 6%;
  }
  .signInphoto{
    height: 90%;
    width: 100%;
    margin-top: 7%;
  }
